body {
    background-color: rgb(206, 179, 171);
    background-repeat: repeat-y;
    background-position: center;
    text-align: center;
    font-family:'Ubuntu';
    color: rgb(255, 255, 255);
    float: center;
}

#main {
    font-size: 60px;
    padding-top: 25px;
}

button {
    background-color:rgb(0, 0,0, 0);
    border: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  li {
    float: left;
    font-size:20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

p {
    font-size:20px;
    padding-top:2px;
}

#unfinished {
  color: red;
  font-size:20px;
  padding-top:2px;
}

#inprogress {
  color:rgb(75, 32, 218);
  font-size:20px;
  padding-top:2px;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
}

th {
  background-color: rgb(151, 123, 114);
}

td {
  background-color: rgb(156, 131, 124);
}

th, td {
  font-size: 20px;
  text-align: center;
  padding: 8px;
}